@import '@highcharts/grid-lite/css/modules/grid-theme-default.css';

.hcg-theme-default {
    --hcg-description-color: var(--hcg-color);
    --hcg-description-background: transparent;
    --hcg-description-font-weight: normal;
    --hcg-description-font-size: var(--hcg-font-size);
    --hcg-description-font-family: inherit;
    --hcg-description-line-height: normal;
    --hcg-description-letter-spacing: normal;
    --hcg-description-text-align: left;
    --hcg-description-margin-top: 0;
    --hcg-description-margin-right: 0;
    --hcg-description-margin-bottom: 0;
    --hcg-description-margin-left: 0;
    --hcg-description-padding-top: var(--hcg-padding);
    --hcg-description-padding-right: var(--hcg-padding);
    --hcg-description-padding-bottom: 0;
    --hcg-description-padding-left: var(--hcg-padding);
}

.hcg-theme-default .hcg-caption {
    color: var(--hcg-caption-color);
    background: var(--hcg-caption-background);
    font-weight: var(--hcg-caption-font-weight);
    font-size: var(--hcg-caption-font-size);
    font-family: var(--hcg-caption-font-family);
    line-height: var(--hcg-caption-line-height);
    letter-spacing: var(--hcg-caption-letter-spacing);
    text-align: var(--hcg-caption-text-align);
    margin-top: var(--hcg-caption-margin-top);
    margin-right: var(--hcg-caption-margin-right);
    margin-bottom: var(--hcg-caption-margin-bottom);
    margin-left: var(--hcg-caption-margin-left);
    padding-top: var(--hcg-caption-padding-top);
    padding-right: var(--hcg-caption-padding-right);
    padding-bottom: var(--hcg-caption-padding-bottom);
    padding-left: var(--hcg-caption-padding-left);
}

.hcg-theme-default.hcg-caption * {
    font: inherit;
    margin: var(--hcg-caption-child-margin);
}

.hcg-theme-default .hcg-description {
    color: var(--hcg-description-color);
    background: var(--hcg-description-background);
    font-weight: var(--hcg-description-font-weight);
    font-size: var(--hcg-description-font-size);
    font-family: var(--hcg-description-font-family);
    line-height: var(--hcg-description-line-height);
    letter-spacing: var(--hcg-description-letter-spacing);
    text-align: var(--hcg-description-text-align);
    margin-top: var(--hcg-description-margin-top);
    margin-right: var(--hcg-description-margin-right);
    margin-bottom: var(--hcg-description-margin-bottom);
    margin-left: var(--hcg-description-margin-left);
    padding-top: var(--hcg-description-padding-top);
    padding-right: var(--hcg-description-padding-right);
    padding-bottom: var(--hcg-description-padding-bottom);
    padding-left: var(--hcg-description-padding-left);
}
